$neutral-25: #f2f4f7;
$neutral-50: #f8fafc;
$neutral-100: #f1f5f9;
$neutral-200: #e2e8f0;
$neutral-300: #cbd5e1;
$neutral-400: #94a3b8;
$neutral-500: #64748b;
$neutral-600: #475569;
$neutral-700: #334155;
$neutral-800: #1e293b;
$neutral-900: #0f172a;

$primary-25: #f7efff;
$primary-50: #f3e9fe;
$primary-100: #EEE0FF;
$primary-200: #DBC1FF;
$primary-300: #C6A3FF;
$primary-400: #B48CFF;
$primary-500: #9766FF;
$primary-600: #744ADB;
$primary-700: #5533B7;
$primary-800: #3A2093;
$primary-900: #26137A;

$secondary-25: #ecfffa;
$secondary-50: #e0fff7;
$secondary-100: #D1FDF1;
$secondary-200: #A3FCEB;
$secondary-300: #74F6E8;
$secondary-400: #51EEEA;
$secondary-500: #1CD7E3;
$secondary-600: #14AAC3;
$secondary-700: #0E81A3;
$secondary-800: #085D83;
$secondary-900: #05446C;



$success-25: #ebffea;
$success-50: #e0ffdf;
$success-100: #D3FDD1;
$success-200: #A3FCA7;
$success-300: #74F687;
$success-400: #51EE77;
$success-500: #1CE360;
$success-600: #14C361;
$success-700: #0EA35E;
$success-800: #088357;
$success-900: #056C51;

$info-25: #edf0ff;
$info-50: #e1e5ff;
$info-100: #DADFFF;
$info-200: #B5BEFF;
$info-300: #909DFF;
$info-400: #7583FF;
$info-500: #4759FF;
$info-600: #3342DB;
$info-700: #232FB7;
$info-800: #161F93;
$info-900: #0D137A;

$warning-25: #fffced;
$warning-50: #fffae0;
$warning-100: #FFF8D6;
$warning-200: #FFEEAE;
$warning-300: #FFE385;
$warning-400: #FFD767;
$warning-500: #FFC535;
$warning-600: #DBA226;
$warning-700: #B7811A;
$warning-800: #936210;
$warning-900: #7A4C0A;

$danger-25: #fff6f1;
$danger-50: #ffebe0;
$danger-100: #FDE0D1;
$danger-200: #FCBBA3;
$danger-300: #F68B74;
$danger-400: #EE5F51;
$danger-500: #E31D1C;
$danger-600: #C31422;
$danger-700: #A30E27;
$danger-800: #830828;
$danger-900: #6C0528;