.Container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  .LeftColumn,
  .RightColumn {
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .LeftColumn {
    background-color: #0C093A;
    color: #fff;
    align-items: center;
    justify-content: center;
    position: relative;

    .Pattern {
      height: 100%;
      width: 100%;
      position: absolute;
      background-size: cover;
      background-position: center;
    }

    .Content {
      position: relative;
      z-index: 100;
      position: absolute;
      background: linear-gradient(153deg, rgba(43, 36, 146, 0.21) -1.01%, rgba(9, 7, 47, 0.55) 13.66%, #0C093A 48.76%, rgba(12, 9, 58, 0.50) 83.31%, rgba(12, 9, 58, 0.00) 99.28%);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .Title {
        display: flex;
        flex-direction: row;
        gap: $space-4;
        align-items: center;
        margin-bottom: $space-11;

        img {
          height: 42px;
          width: 42px;
        }
      }

      img.ImgPreview {
        border-radius: 12px;
        background: linear-gradient(161deg, rgba(151, 168, 255, 0.25) 2.94%, rgba(146, 163, 255, 0.13) 87.17%);
        -webkit-backdrop-filter: blur(3.141892194747925px);
        backdrop-filter: blur(3.141892194747925px);
        padding: 12px;
        margin-bottom: $space-10;
      }
    }
  }

  .RightColumn {
    justify-content: space-between;
    padding: $space-10;

    .Form {
      width: 100%;
      max-width: 360px;
      margin: auto;

      .RememberMe {
        span:global(.MuiTypography-root) {
          font-size: 14px;
          color: $neutral-400;
          font-weight: 500;
        }
      }

      .Divider {
        position: relative;
        margin: $space-8 auto;

        span {
          border-top: 1px solid $neutral-400;
          width: 100%;
          display: block;
        }

        p {
          position: absolute;
          left: 50%;
          background-color: #fff;
          color: $neutral-500;
          font-size: 12px;
          width: 40px;
          transform: translate(-50%, -52%);
        }
      }

      .SSO {
        display: flex;
        flex-direction: column;
        gap: $space-3;
        margin-top: $space-4;

        .BtnGoogle {
          background-color: transparent;
          box-shadow: none;
          border: 1px solid $neutral-200;
          color: $neutral-700;

          &:hover {
            background-color: $neutral-50;
          }
        }

        .BtnFacebook {
          background-color: #1877F2;

          &:hover {
            background-color: #116fea;
          }
        }

        .BtnApple {
          background-color: #000;
        }
      }
    }
  }
}